@import url("https://fonts.googleapis.com/css?family=Righteous|Montserrat");
.header-text {
  color: #fff;
  text-align: center;
  display: block;
  font-family: "Righteous", cursive;
  font-size: 80px;
  letter-spacing: 0.5rem;
}

/* Skills Bar */

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}
#skills {
  margin: 0 auto;
  width: 60%;
  margin-bottom: 10vh;
}
#skills li {
  text-align: left;
  position: relative;
  margin-bottom: 32px;
}
.bar_container,
.bar {
  position: absolute;

  height: 5px;
  border-radius: 5px;
  content: "";
}
.bar_container {
  bottom: -8px;
  width: 100%;
  background-color: #333;
  /*text-align: right;*/
}
.bar {
  top: 0;
}
.pct {
  font-size: 15px;
  position: absolute;
  top: -20px;
  right: 2%;
  opacity: 0;
  transition: opacity 0.3s linear;
}
/* Skills Bar End */

/* Button */
button {
  font-family: "Righteous", cursive;
  border: 4px solid #302f3a;
  color: #302f3a;
  position: relative;
  margin: 2rem 3rem;
  padding: 1rem 2rem;
  font-size: 1.15rem;
  background-color: transparent;
  cursor: pointer;
}

button::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: -.6rem;
  top: -.5rem;
  z-index: -1;
  background-color: #F7567C;
  transition: all 200ms ease-out;
}

button:hover::before {
  top: 0;
  left: 0;
}

.button--bop:active {
  transform: translateY(3px);
}
/* End Button */

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  width: 100%;
  overflow: hidden;
}

/*.heightmax {
  min-height: 100vh;
}*/

.header {
  position: relative;
  display: block;
  width: 100%;
  overflow-x: visible;
}

.box {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box2 {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 10vh;
  margin-bottom: 5vh;
  /*margin-top: 20vh;*/
}

.divider-img {
  position: absolute;
  height: 200px;
  left: calc(50vw - 100px);
  top: calc(98vh - 120px);
}

.colorful {
  position: relative;
  background: linear-gradient(to right, #0277bd, #43a047, #e5e, #ffea00);
  background-size: 2000%;
  animation: gradientBackground 10s alternate ease-in-out;
  animation-iteration-count: infinite;
}

.content {
  position: relative;
  display: block;
  padding: 0 15%;
}

.content-text {
  color: #444;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
}

.content p {
  text-align: left;
  line-height: 1.3em;
}
/*.content p::first-letter {
  font-size: 230%;
}*/

/*#div1 {
  position: absolute;
  width: 100%;
  height: 100vh;
}*/

@keyframes gradientBackground {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

span.gradient{
  background: linear-gradient(to right, #0277bd, #43a047, #e5e, #ffea00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 2000%;
  animation: gradientBackground 10s alternate ease-in-out;
  animation-iteration-count: infinite;
}

@media(max-width:1200px) {
  .header-text {
    color: #fff;
    text-align: center;
    display: block;
    font-family: "Righteous", cursive;
    font-size: 70px;
    letter-spacing: 0.5rem;
  }

  .content-text {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #444;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
  }

  .content p {
    text-align: left;
    line-height: 1.3em;
  }
  /*.content p::first-letter {
    font-size: 150%;
  }*/

  .divider-img {
    position: absolute;
    height: 200px;
    left: calc(50vw - 100px);
    top: calc(98vh - 150px);
  }

  .box2 {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 10vh;
    margin-bottom: 5vh;
  }

  #skills {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 10vh;
  }

}

@media (max-width:767px) {

}
