@import url("https://fonts.googleapis.com/css?family=Righteous|Montserrat");
@import url("https://fonts.googleapis.com/css?family=Rubik:400,900");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");

.header-text {
  color: #fff;
  text-align: center;
  display: block;
  font-family: "Righteous", cursive;
  font-weight: 600;
  font-size: 80px;
  letter-spacing: 0.5rem;
}

/* Overlay Menu */
* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: white;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #000;
}

.header {
  position: fixed;
  z-index: 5;
  width: 100%;
}

.burger {
position: fixed;
z-index: 10;
right: 25px;
top: 25px;
cursor: pointer;
-webkit-transform: rotateY(0);
        transform: rotateY(0);
-webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.burger__patty {
width: 35px;
height: 5px;
margin: 0 0 4px 0;
background: #fff;
-webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.burger__patty:last-child {
margin-bottom: 0;
}
.burger--close {
-webkit-transform: rotate(180deg);
        transform: rotate(180deg);
}
.burger--close .burger__patty:nth-child(1) {
-webkit-transform: rotate(45deg) translate(4px, 4px);
        transform: rotate(45deg) translate(4px, 4px);
}
.burger--close .burger__patty:nth-child(2) {
opacity: 0;
}
.burger--close .burger__patty:nth-child(3) {
-webkit-transform: rotate(-45deg) translate(5px, -4px);
        transform: rotate(-45deg) translate(5px, -4px);
}

.menu {
position: fixed;
top: 0;
width: 100%;
visibility: hidden;
}
.menu--active {
visibility: visible;
}
.menu__brand, .menu__list {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-flow: column wrap;
    flex-flow: column wrap;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
float: left;
width: 50%;
height: 100vh;
overflow: hidden;
}
.menu__list {
margin: 0;
padding: 0;
background: linear-gradient(to right, #0277bd, #43a047, #e5e, #ffea00);
background-size: 2000%;
animation: gradientBackground 10s alternate ease-in-out;
animation-iteration-count: infinite;
list-style-type: none;
-webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
-webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__list--active {
-webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
}
.menu__brand {
background: #000;
-webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
-webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
}
.menu__brand--active {
-webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
}
.menu__item {
-webkit-transform: translate3d(500px, 0, 0);
        transform: translate3d(500px, 0, 0);
-webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__item--active {
-webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
}
.menu__link {
display: inline-block;
position: relative;
font-size: 30px;
padding: 15px 0;
font-weight: 300;
color: white;
text-decoration: none;
color: white;
-webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__link:before {
content: "";
position: absolute;
bottom: 0;
left: 50%;
width: 10px;
height: 2px;
background: white;
-webkit-transform: translateX(-50%);
        transform: translateX(-50%);
-webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__link:hover:before {
width: 100%;
}
.menu .menu__item:nth-child(1) {
-webkit-transition-delay: 0.1s;
        transition-delay: 0.1s;
}
.menu .menu__item:nth-child(2) {
-webkit-transition-delay: 0.2s;
        transition-delay: 0.2s;
}
.menu .menu__item:nth-child(3) {
-webkit-transition-delay: 0.3s;
        transition-delay: 0.3s;
}
.menu .menu__item:nth-child(4) {
-webkit-transition-delay: 0.4s;
        transition-delay: 0.4s;
}
.menu .menu__item:nth-child(5) {
-webkit-transition-delay: 0.5s;
        transition-delay: 0.5s;
}
.menu .menu__item:nth-child(6) {
-webkit-transition-delay: 0.6s;
        transition-delay: 0.6s;
}

@media screen and (max-width: 768px) {
ul.menu__list,
div.menu__brand {
  float: none;
  width: 100%;
  min-height: 0;
}
ul.menu__list--active,
div.menu__brand--active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu__list {
  height: 75vh;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}

.menu__link {
  font-size: 24px;
}

.menu__brand {
  height: 25vh;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}
.menu__brand .logo {
  width: 90px;
  height: 90px;
}
}
.logo {
background-image: url('images/pixelme.gif');
width: 200px;
height: 200px;
background: linear-gradient(to right, #0277bd, #43a047, #e5e, #ffea00);
background-size: 2000%;
animation: gradientBackground 10s alternate ease-in-out;
animation-iteration-count: infinite;
border-radius: 50%;
}

.section {
  background-color: #000;
}

h1, h2, h3, p {
margin: 0;
font-weight: 400;
}

main {
height: 100vh;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-flow: column wrap;
    flex-flow: column wrap;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
padding: 8vw;
}
main h1 > a {
color: white;
text-decoration: none;
font-size: 48px;
font-weight: 300;
}

.support {
position: fixed;
bottom: 24px;
color: rgba(0, 0, 0, 0.6);
}

/* End Overlay Menu */


/* Skills Bar */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}
#skills {
  margin: 0 auto;
  width: 60%;
  margin-bottom: 10vh;
}
#skills li {
  text-align: left;
  position: relative;
  margin-bottom: 32px;
}
.bar_container,
.bar {
  position: absolute;

  height: 5px;
  border-radius: 5px;
  content: "";
}
.bar_container {
  bottom: -8px;
  width: 100%;
  background-color: #333;
  /*text-align: right;*/
}
.bar {
  top: 0;
}
.pct {
  font-size: 15px;
  position: absolute;
  top: -20px;
  right: 2%;
  opacity: 0;
  transition: opacity 0.3s linear;
}
/* Skills Bar End */

/* Button */
button {
  font-family: "Righteous", cursive;
  border: 4px solid #302f3a;
  color: #302f3a;
  position: relative;
  margin: 2rem 3rem;
  padding: 1rem 2rem;
  font-size: 1.15rem;
  background-color: transparent;
  cursor: pointer;
}

button::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: -.6rem;
  top: -.5rem;
  z-index: -1;
  background-color: #F7567C;
  transition: all 200ms ease-out;
}

button:hover::before {
  top: 0;
  left: 0;
}

.button--bop:active {
  transform: translateY(3px);
}
/* End Button */

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  width: 100%;
  overflow: hidden;
}

/*.heightmax {
  min-height: 100vh;
}*/

.header {
  position: relative;
  display: block;
  width: 100%;
  overflow-x: visible;
}

.box {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.lo_image {
  display: block;
}

.box2 {
  background-color: #000;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;

  padding-top: 50px;
  margin-bottom:50px;
  /*margin-top: 20vh;*/
}

.box2 p {
  width: 60%
}

.divider-img {
  position: absolute;
  height: 200px;
  left: calc(50vw - 100px);
  top: calc(98vh - 120px);
}

.colorful {
  position: relative;
  background: linear-gradient(to right, #0277bd, #43a047, #e5e, #ffea00);
  background-size: 2000%;
  animation: gradientBackground 10s alternate ease-in-out;
  animation-iteration-count: infinite;
}

.content {
  background-color: #000;
  position: relative;
  display: block;
  padding: 0 15%;

}

.content-text {
  color: #fff;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 22px;
}

.content p {
  text-align: center;
  line-height: 1.3em;
}
/*.content p::first-letter {
  font-size: 230%;
}*/

/*#div1 {
  position: absolute;
  width: 100%;
  height: 100vh;
}*/

@keyframes gradientBackground {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

span.gradient{
  background: linear-gradient(to right, #0277bd, #43a047, #e5e, #ffea00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 2000%;
  animation: gradientBackground 10s alternate ease-in-out;
  animation-iteration-count: infinite;
}

@media(max-width:1200px) {
  .header-text {
    color: #fff;
    text-align: center;
    display: block;
    font-family: "Righteous", cursive;
    font-size: 70px;
    font-weight: 900;
    letter-spacing: 0.5rem;
  }

  .content-text {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #fff;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
  }

  .content p {
    text-align: center;
    line-height: 1.3em;
  }
  /*.content p::first-letter {
    font-size: 150%;
  }*/

  .divider-img {
    position: absolute;
    height: 200px;
    left: calc(50vw - 100px);
    top: calc(98vh - 150px);
  }

  .box2 {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    padding-top: 50px;
    margin-bottom:50px;
    background-color: #000;
  }

  .box2 p {
    width: 100%;
  }

  #skills {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 10vh;
  }

}

@media (max-width:767px) {
  .menu__brand {
    display: none;
  }

  .menu__list {
    height: 100VH;
  }

  .logo {
    display: none;
  }
}
